<nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-white text-2xl font-bold">AstrumInbox</a>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'inbox:send_message' %}" class="text-white mr-4">Send Message</a>
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="text-white mr-4" type="submit">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'users:login' %}" class="text-white">Login</a>
                <a href="{% url 'users:signup' %}" class="text-white">Signup</a>
            {% endif %}
        </div>
    </div>
</nav>